div.teste .teste{
    color: aquamarine;
    font-size: larger;
}

span:hover{
    border-bottom: 1px solid black;
}

.grande .teste + .aqui ~ div.plus{
    width: 100vw;
    height: auto;
    background-color: black;
}

.estou.testando#aqui div{
    display: grid;
}

.agora~.tenho#outro + .teste{
    text-transform: uppercase;
}

.input[type="text"]{
    border: 1px solid rgb(11, 217, 224);
}

.pseudoClasses:hover, .outra-pseudo:last-child, .pseudoMulti.multiclass:focus{
    text-decoration-color: purple;
}